@if(categoryList){
  <h1 class="text-2xl p-7 text-gray-900 font-bold">All Categories:</h1>


  <div class="row my-6">
    @for (category of categoryList ; track $index) {

    <div class=" p-3 md:w-1/4">
      <div class="shadow-lg rounded p-3 cursor-pointer text-gray-900 hover:text-primary duration-500">
        <div>
          <img [src]="category.image" class="w-full rounded h-[300px] object-cover" alt="" />

          <div class="py-10 text-center">
            <span class=" text-lg font-semibold">{{
              category.name | uppercase
            }}</span>

          </div>

        </div>

      </div>
    </div>
  }
</div>

}
