<nav class="bg-gray-200 border-gray-200 dark:bg-gray-900 sticky top-0 left-0 right-0 z-10">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-around mx-auto p-4">
    <a routerLink="" class="flex items-center space-x-3 rtl:space-x-reverse">
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">
        <img src="/assets/images/freshcart-logo.svg" alt="freshcart-logo" />
      </span>
    </a>
    <button data-collapse-toggle="navbar-default" type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbar-default" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15" />
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <div class="flex flex-col md:flex-row md:space-x-8">
        <ul
          class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-1 rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
          <li>
            <a routerLinkActive="text-primary font-semibold" routerLink="home"
              class="block py-2 px-3 text-gray-900 rounded font-normal dark:text-white md:dark:text-blue-500"
              aria-current="page">Home</a>
          </li>
          @if (isLogin) {

          <li>
            <a routerLinkActive="text-primary font-semibold" routerLink="cart"
              class="block py-2 px-3 text-gray-900 rounded font-normal dark:text-white md:dark:text-blue-500"
              aria-current="page">Cart</a>
          </li>

          }
          <li>
            <a routerLinkActive="text-primary font-semibold" routerLink="products"
              class="block py-2 px-3 text-gray-900 rounded font-normal dark:text-white md:dark:text-blue-500"
              aria-current="page">Products</a>
          </li>
          <li>
            <a routerLinkActive="text-primary font-semibold" routerLink="categories"
              class="block py-2 px-3 text-gray-900 rounded font-normal dark:text-white md:dark:text-blue-500"
              aria-current="page">Categories</a>
          </li>
          <li>
            <a routerLinkActive="text-primary font-semibold" routerLink="brands"
              class="block py-2 px-3 text-gray-900 rounded font-normal dark:text-white md:dark:text-blue-500"
              aria-current="page">Brands</a>
          </li>
        </ul>
        <ul
          class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-1 rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
          <li class="flex gap-4 items-center">
            <a href="#"><i class="fa fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa fa-brands fa-youtube"></i></a>
            <a href="#"><i class="fa fa-brands fa-tiktok"></i></a>
            <a href="#"><i class="fa fa-brands fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-brands fa-twitter"></i></a>
          </li>
          @if (!isLogin) {
          <li>
            <a routerLinkActive="text-primary font-semibold" routerLink="login"
              class="block py-2 px-3 text-gray-900 rounded font-normal dark:text-white md:dark:text-blue-500"
              aria-current="page">Login</a>
          </li>
          <li>
            <a routerLinkActive="text-primary font-semibold" routerLink="register"
              class="block py-2 px-3 text-gray-900 rounded font-normal dark:text-white md:dark:text-blue-500"
              aria-current="page">Register</a>
          </li>
          } @else {

          <li>
            <button type="button" routerLink="cart"
              class="relative inline-flex items-center p-3 text-xs font-medium text-center text-white bg-primary rounded-lg focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              <i class="fa fa-cart-shopping"></i>
              <span class="sr-only">Notifications</span>
              <div
                class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-primary border-2 border-primary rounded-full -top-2 -end-2 dark:border-gray-900">
                {{ _CartService.cartNo.getValue() }}
              </div>
            </button>
          </li>
          <li>
            <a (click)="_AuthService.logOut()"
              class="cursor-pointer block py-2 px-3 text-gray-900 rounded font-normal dark:text-white md:dark:text-blue-500"
              aria-current="page">Logout</a>
          </li>
          }
        </ul>
      </div>
    </div>

  </div>
</nav>