@if (forgetPasswordFlag) {

<section class="md:w-1/2 w-3/4 mx-auto my-6">
  <h1 class="text-gray-900 text-2xl font-normal mb-3">Forget Password:</h1>
  @if(errMsg){
  <div class="alert">
    <p>{{ errMsg }}</p>
  </div>
  } @else if (sucMsg) {
  <div class="alert">
    <p>{{ sucMsg }}</p>
  </div>
  }
  <form
    [formGroup]="forgetPasswordForm"
    (ngSubmit)="submitForgetPasswordForm()"
  >
    <div class="email mb-3">
      <label class="text-gray-900" for="emailInput">Your Email: </label>
      <input
        formControlName="email"
        type="email"
        id="emailInput"
        class="form-control"
      />
      @if (forgetPasswordForm.get('email')?.errors&&
      forgetPasswordForm.get('email')?.touched){

      <div class="alert">
        @if(forgetPasswordForm.get('email')?.errors?.['required']){

        <p>Email is required</p>
        } @if (forgetPasswordForm.get('email')?.errors?.['email']) {
        <p>Email must be valid</p>

        }
      </div>
      }
    </div>

    <div class="submitBtn text-right mb-3">
      <button [disabled]="forgetPasswordForm.invalid" class="btn-main disabled:bg-[#5FC95F] disabled:border-[#5FC95F] disabled:text-white">
        @if (isLoading) {

        <span><i class="fa fa-spinner fa-spin"></i></span>
        } @else {

        <span>Send Code</span>
        }
      </button>
    </div>
  </form>
</section>
} @else if(resetCodeFlag){

<app-reset-code></app-reset-code>
}
