<section class="md:w-1/2 w-3/4 mx-auto my-6">
  <h1 class="text-gray-900 text-2xl font-normal mb-3">Reset Password:</h1>
  @if(errMsg){
  <div class="alert">
    <p>{{ errMsg }}</p>
  </div>
  }
  <form [formGroup]="resetPasswordForm" (ngSubmit)="submitResetPasswordForm()">
    <div class="email mb-3">
      <label class="text-gray-900" for="emailInput">Your Email: </label>
      <input
        formControlName="email"
        type="email"
        id="emailInput"
        class="form-control"
      />
      @if (resetPasswordForm.get('email')?.errors&&
      resetPasswordForm.get('email')?.touched){

      <div class="alert">
        @if(resetPasswordForm.get('email')?.errors?.['required']){

        <p>Email is required</p>
        } @if (resetPasswordForm.get('email')?.errors?.['email']) {
        <p>Email must be valid</p>

        }
      </div>
      }
    </div>
    <div class="password mb-3">
      <label class="text-gray-900" for="passwordInput">Password: </label>
      <input
        formControlName="newPassword"
        type="password"
        id="passwordInput"
        class="form-control"
      />
      @if (resetPasswordForm.get('newPassword')?.errors&&
      resetPasswordForm.get('newPassword')?.touched){

      <div class="alert">
        @if (resetPasswordForm.get('newPassword')?.errors?.['required']) {

        <p>Password is required</p>

        } @if (resetPasswordForm.get('newPassword')?.errors?.['pattern']) {

        <p>Password must be valid</p>

        }
      </div>
      }
    </div>

    <div class="submitBtn text-right mb-3">
      <button [disabled]="resetPasswordForm.invalid" class="btn-main disabled:bg-[#5FC95F] disabled:border-[#5FC95F] disabled:text-white">
        @if (isLoading) {

        <span><i class="fa fa-spinner fa-spin"></i></span>
        } @else {

        <span>Submit</span>
        }
      </button>
    </div>
  </form>
</section>
